<div *ngIf="cart.length > 0; else elseBlock" class="shopping-cart-box">
  <div class="shopping-cart-title">
    <h2>Carrito de compras</h2>
  </div>
  <div class="shopping-cart-overflow">
    <div *ngFor="let item of cart" class="shopping-cart-card">
      <div class="shopping-cart-item">
        <div class="shopping-cart-image">
          <img [src]="item.image" [alt]="item.name">
        </div>
        <div class="shopping-cart-item-info">
          <h2>{{item.name}}</h2>
          <p> $ {{item.price | number}}</p>
          <p> Cantidad: {{item.cantidad}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shopping-cart-total">
    <p>Total: $ {{totalShoppingCart() | number}}</p>
  </div>
  <div class="shopping-cart-button-cart">
    <button routerLink="carrito">Ver Carrito</button>
  </div>
</div>
<ng-template #elseBlock>
  <div class="shopping-cart-box">
    <p class="empty">El carrito de compras está vacío</p>
  </div>
</ng-template >
